
.tabla{
    margin: 25%;
    margin: 40%;
    margin-left: 300px;
 }

.ContainerGaleria{
    width: 95%;
    align-content: center;
    margin: 0 auto;
} 

div.galeria1{
    margin: 10px;
    align-content: center;
    width: 3cm;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

div.galeria{
    box-shadow: 1px 1px 1px 1px rgb(198, 230, 252);
}

.galeria img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
