@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-image: url(https://pbs.twimg.com/media/FC5dolbWQAEH0W1?format=png&name=small);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;
}

#btnCalcular  { 
    background-color: rgb(174, 222, 250);
    border: rgb(227, 254, 255);
    font-size: 17px;
  color: black; 
} 
 
#btnCalcular a {
    color: black;
}

#btnConfirmar  { 
    background-color: rgb(174, 222, 250);
    border: rgb(227, 254, 255);
    font-size: 17px;
  color: black; 
  cursor: pointer;
} 
 
#btnConfirmar a {
    color: black;
    
}

fieldset{
    font-size: 20px;
    width: 40%;
    margin: 5%;
    border-color: rgb(41, 118, 163);
    border-style: dotted;
    border-radius: 10pt;
    background-color: rgba(194, 241, 255, 0.692);  
}